# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.pyo

# Virtual Environments
.venv/
venv/
env/
ENV/

# Build Artifacts
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Poetry
poetry.toml

# IDE
.vscode/
.idea/
*.code-workspace
